save-exact=true

# this specifies the number of minutes that must pass after a version is published before pnpm will install it (to prevent supply chain attacks)
# https://pnpm.io/settings#minimumreleaseage
minimumReleaseAge=4320 # 3 days, 